h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

.product,
.branch,
.supplier {
  display: inline-block;
  width: calc(33.33% - 20px);
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  box-sizing: border-box;
  text-align: left;
}

.product .prodImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product .prodTitle,
.branch .branchName,
.supplier .supplierName {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product .prodCategory,
.product .prodSupplier,
.product .prodDesc,
.product .prodPrice,
.branch .branchAddress,
.branch .branchContact,
.supplier .supplierAddress,
.supplier .supplierContact {
  margin-bottom: 5px;
  font-size: 14px;
}

#products-container,
#branches-container,
#suppliers-container {
  margin-top: 40px;
}
