.product {
  margin-bottom: 20px;
}

.prodImg {
  width: 100px; 
  height: auto; 
  object-fit: cover; 
}

.prodCategory,
.prodSupplier,
.prodDesc,
.prodPrice {
  margin: 10px 0;
}

.updateBtn,
.deleteBtn {
  margin-top: 5px;
}
