#googleMap {
    width: 50%;
    height: 400px;
    margin: 15px auto 0;
}

.container {
    text-align: center;
}

#branchSearch {
    width: 40%;
    display: inline;
}

#searchBtn {
    margin-left: 10px;
}