.hidden {
    display: none;
}
.prodImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.prodImgContainer {
}
.innerImgContainer {
    aspect-ratio: 1/1;
    background-color: #f6f6f6;
}

.cartInBuyBtn {
    vertical-align: baseline;
}

.placeholderLabel {
    display: block;
}

.productCard {
    cursor: pointer;
    height: 100% !important;
}

.productCard:hover {
    background-color: #dbd7d7;
}