.hidden {
    display: none !important;
}

.purchaseRow {
    border: 1px solid black;
    margin-bottom: 10px;
}

.prodImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.prodRow {
    border: 1px solid black;
    margin-bottom: 4px;
}

.prodImgCol {
    padding-left: 0 !important;
    width: 100%;
    aspect-ratio: 12/9;
}

.prodRow:hover {
    background-color: #dbd7d7;
}

#exampleProdRow {
    display: none;
}

#examplePurchaseRow {
    display: none;
}