.hidden {
  display: none;
}

.tick {
  font-size: 16px;
}

.myGraphs {
  display: inline-block;
}

.graphsMenu {
  padding: 10px;
  text-align: center;
}

.graphsPageContainer {
  text-align: center;
}